/*
Mobile: 375px
Desktop: 1440px

Colors
Primary
Pale blue: hsl(225, 100%, 94%)
Bright blue: hsl(245, 75%, 52%)

Neutral
Very pale blue: hsl(225, 100%, 98%)
Desaturated blue: hsl(224, 23%, 55%)
Dark blue: hsl(223, 47%, 23%)

Font size (paragraph): 16px
Font
Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
Weights: 500, 700, 900
*/

/***********************/
/* GENERAL AND GLOBALS */
/***********************/
:root {
  /* primaries */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* neutrals */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Red hat Display", sans-serif;
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  padding: 10.3vh 1.5rem 0 1.5rem;
}

.flex {
  display: flex;
  text-align: center;
}

.hero-img {
  margin-bottom: 2rem;
}

.heading-1 {
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--darkBlue);
  margin-bottom: 1.1rem;
}

.lead {
  font-weight: 600;
  font-size: 0.91rem;
  line-height: 1.71;
  color: var(--desaturatedBlue);
  margin-bottom: 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 25rem;
  border-radius: 18px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 2px 45px 0 rgba(0, 0, 0, 0.3);
}

.inner-container {
  padding: 0 2.1rem;
}

.plan-summary {
  background-color: var(--veryPaleBlue);
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.plan {
  font-size: 0.9rem;
  color: var(--desaturatedBlue);
  margin-left: 1rem;
}

.plan-link {
  margin-left: auto;
}

.plan-link:link,
.plan-link:visited {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--desaturatedBlue);
}

.plan-link:hover,
.plan-link:active {
  color: var(--brightBlue);
  text-decoration: none;
}

strong {
  color: var(--darkBlue);
  font-weight: 900;
}

.btn {
  padding: 1rem 4.2rem;
  font-weight: 700;
  font-size: 0.95rem;
  border-radius: 13px;
  text-decoration: none;
  display: inline-block;
  align-self: center;
  transition: all 0.2s;
}

.btn.payment:link,
.btn.payment:visited {
  background-color: var(--brightBlue);
  color: #fff;
}

.btn.payment:hover,
.btn.payment:active {
  background-color: var(--desaturatedBlue);
}

.btn.cancel:link,
.btn.cancel:visited {
  color: var(--desaturatedBlue);
  margin-bottom: 1.1rem;
}

.btn.cancel:hover,
.btn.cancel:active {
  color: var(--darkBlue);
}

footer {
  margin-top: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 23.5em) {
  body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-size: cover;
  }

  .container {
    background-color: #fff;
  }
}
