/*
Mobile: 375px
Desktop: 1440px

Colors
Primary
Pale blue: hsl(225, 100%, 94%)
Bright blue: hsl(245, 75%, 52%)

Neutral
Very pale blue: hsl(225, 100%, 98%)
Desaturated blue: hsl(224, 23%, 55%)
Dark blue: hsl(223, 47%, 23%)

Font size (paragraph): 16px
Font
Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
Weights: 500, 700, 900
*/

/***********************/
/* GENERAL AND GLOBALS */
/***********************/
:root {
  /* primaries */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* neutrals */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Red hat Display", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
